name: Markdownlint

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  markdownlint:
    runs-on: ubuntu-latest
    name: Markdown Lint
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      
      - name: Run markdownlint
        uses: DavidAnson/markdownlint-cli2-action@v22
        with:
          globs: '**/*.md'
